<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; {{ now.Format "2006"}}
      {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
    </div>
  </div>
</footer>

{{ partial "footer_js" . }}
{{ partial "footer_custom_js" . }}