<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ else }}
      <meta name="description" content="{{ .Site.Params.site_description }}">
    {{ end }}
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/monokai.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}fancybox/jquery.fancybox.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "head_custom" . }}

    {{ if .Params.disable_profile | and .Params.disable_widgets }}
    <style>
        .full-width {
            width: 100% !important;
        }
    </style>
    {{ end }}
</head>
<body>
<div class="container">
